.movieList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}

.movieList__link {
  color: white;
  background-color: #04aa6d;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.movieList__link:hover {
  background-color: #3e8e41;
}
