.form {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.input {
  border: none;
  background-color: #3e8e41;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
}

.button {
  background-color: #04aa6d;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: white;
}

.button:hover {
  background-color: #3e8e41;
}
