.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.navigation__item {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem;
  background-color: #04aa6d;
  border-radius: 0.5rem;
}
